# 私钥 (不要包含0x前缀)
PRIVATE_KEY=fc8d8d96c406b7d9065229adbdad648b71d70cca7fa3a2d0c14e3ec6f61c2a20

# Sepolia RPC URL (Infura, Alchemy等)
SEPOLIA_URL=https://sepolia.infura.io/v3/61466f253ca64b28a41451f753740ff4

# Etherscan API Key (用于验证合约)
ETHERSCAN_API_KEY=MDQ6TS72D8MVFQKZP7EVHFV4U6JFV1D4G4

# 是否启用Gas报告
REPORT_GAS=true

